body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    border-radius: 10px;
    background: #667eea;
    color: white;
    border: none;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}